<!DOCTYPE html>
<html>
  <head>
    <title>Demo MTA</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"></link>
    <script src="/js/webrtc.io.js"></script>
    <script src="/js/SIPml-api.js"></script>
    <link src="/css/bootstrap.css"></link>    
    <link src="/css/bootstrap-responsive.css"></link>    

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

<!--     <script src="/js/bootstrap.js"></script>     -->
    
<!--     <script src="/js/jssip-0.3.0.min.js"></script>  -->   

  </head>
<!--   <body onload="init()"> -->

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
				<li><a href="/">Main</a></li>
<!-- 				<li><a href="http://mta.info">Info</a></li> -->
<!-- 				<li><a href="/video">Emergency</a></li> -->
<!-- 				<li><a href="/socket">Socket</a></li> -->
				<li><a href="/sip">Sip</a></li>
				<li><a href="/usb">USB Camera</a></li>
				<li><a href="/jssip">JSSIP</a></li>
				<li><a href="/sipHTML">Sip HTML5</a></li>
				<li><a href="/html5sockets">HTML 5 WebSockets</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container" style="margin-top:80px;">
	    <div>
	    	<h2>Sip.js</h2>
	    	<p>This sip button will execute a javascript function using the SIP.js API.  This call right now is hard-coded to go to Asterisk @50.56.219.107 which then redirects the call to my cell phone.</p>
	    	<p>For some reason, if the call is not answered, the server crashes.  I believe this is because it does not receive the proper disconnect agreement from asterisk.  It also has something to do with port numbers.  Like a port is already in use.  
	    	<hr>
	    	<h2>USB Camera</h2>
	    	<p>This button runs a child process command which finds a specific USB id.  If the id exists, it then runs the <em>service motion start</em> command which starts streaming the USB camera on a local IP address</p>
	    	<hr>
	    	<h2>JSSIP</h2>
	    	<p>JSSIP is another Javascript SIP library which tries to implement websockets</p>
	    	<hr>
	    	<h2>SIPml5</h2>
	    	<p> SIPml5 is a client side way of making phone calls. In order to actually make a call to asterisk, you need to use the webrtc2sip server side thing and have it configured with asterisk.  Webrtc2sip is the middle man which handles the codec stuff.</p>
	    
	    </div>
	<hr>
	</div>      	

    <div class="container">
		<%- body %>
	</div>      	


    <script src="/js/script.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<!--     <script src="/js/jssip.js"></script> -->
  </body>
</html>
