<html>
  <head>
    <title>Demo MTA</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"></link>
    <script src="/js/webrtc.io.js"></script>

  </head>
  <body onload="init()">

    <!-- This is what presents the video -->
	<div id="videos">
	  <video id="you" class="flip" autoplay></video>
	</div>
	
<!--
	<div id="chatbox">
	  <div id="messages">
	  </div>
	  <input id="chatinput" type="text" placeholder="Message:"/>
	</div>
	
	<div class="buttonBox">
	  <div id="fullscreen" class="button">Enter Full Screen</div>
	  <div id="newRoom" class="button">Create A New Room</div>
	</div> 
-->

    <script src="/js/script.js"></script>

  </body>
</html>
